.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px; */
  font-family: var(--font-geist-sans);
}
.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.Logo{
  background:rgb(255, 83, 83);
  width: 15%;
  height: 80px;
}
.Navbar{
  background:rgb(255, 83, 83);
  width: 80%;
  height: 80px;
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
}

.cards >div:nth-child(1),
.cards >div:nth-child(3){
  grid-row: span2;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgb(255, 83, 83);
  height: 350px;
  width: 280px;
  margin: 15px 15px;
  border-radius: 30px;
}

.Sidebar {
  background:rgb(255, 83, 83);
  width: 80%;
  margin-top: 15px;
  grid-row: span 4;
  grid-column: span 2;
}

.Heart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}