.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

/* .Header{
  display: grid;
  grid-template-columns: repeat(3, 50px 1fr);
  justify-items: center;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
} */
.Header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 6rem;
}
.Logo{
  background:rgb(255, 83, 83);
  width: 15%;
  height: 80px;
}
.Navbar{
  background:rgb(255, 83, 83);
  grid-column: span 3;
  width: 80%;
  height: 80px;
}
.SearchBar{
  background:rgb(255, 83, 83);
  width: 90vw;
  height: 4rem;
  margin-top: 1.5rem;

  /* grid-row: 3;
  grid-column: 3; */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10rem 5rem 0 0;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
}
.cards >div:nth-child(1),
.cards >div:nth-child(3){
  grid-row: span2;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgb(255, 83, 83);
  height: 350px;
  width: 280px;
  border-radius: 30px;
}

.Sidebar {
  background:rgb(255, 83, 83);
  position: absolute;
  top: 5rem;
  right: 0;
  width: 16%;
  height: 100%;
  margin-top: 10rem;
}

.Heart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}